
	<section id="footer">
		<ul class="icons">

			<li><a href="{{ data.github   }}" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="{{ data.twitter  }}" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="{{ data.facebook }}" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>

		</ul>
		<ul class="copyright">
			<li>&copy; {{ data.copy }} - <a href="{{ data.product}}">{{ data.app_title }}</a></li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</section>
